.new-expense {
    background-color: #253C78;
    color: white;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color:#FB8B24;
    color: white;
    font-weight:medium;
    border-radius: 10px;
    margin-right: 1rem;
    border:none;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #ed821d;
  }
  
  .new-expense button.alternative {
    color: #FB8B24;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: hsl(245, 40%, 54%);
  }